<a href="https://colab.research.google.com/github/Obiascpe/OBIAS_CPE009A-OOP/blob/main/OBIAS_Phyton_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [366]:
if 5 > 2:
  print("Five is greater than Two")

Five is greater than Two

Python Comments

In [367]:
#This is a comment
print("Hello, World")

Hello, World

Python Variable

In [368]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2
b = "Sally" #This is a type of string
print(b)

Sally

Casting

In [369]:
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() Function

In [370]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double Quotes" or 'Single Quotes'

In [371]:
y = "John"
y = 'John'
print(y)

John

Case Sensitive

In [372]:
#A will not overwrite a
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

Multiple Variables

In [373]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [374]:
x = y = z = "four"
print(x, y, z)

four four four

Output Variables

In [375]:
x = "enjoying"
print("Python programming is " + x)

x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python programming is enjoying
Python is enjoying

Arithmetic Operations

In [376]:
#Floor Divisions
10 // 3

3

In [377]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y
sum

8

8

In [378]:
#Given:
x, y = 5, 3

#Addition "x + y"
print(x + y)

#Subtraction "x - y"
print(x - y)

#Multiplication "x * y"
print(x * y)

#Division "x / y"
print(x / y)

#Modulus "x % y"
print(x % y)

#Exponentiation "x ** y"
print(x ** y)

#Floor Division "x // y"
print(x // y)

8
2
15
1.6666666666666667
2
125
1

Assignment Operators

In [379]:
#" = "
x = 5
print(x)

#" += "
s = 1
s += 3
print(s)

#" -= "
s -= 3
print(s)

#" *= "
s *= 3
print(s)

#" /= "
s /= 3
print(s)

#" %= "
s %= 3
print(s)

#" //= "
s //= 3
print(s)

#" **= "
s **= 3
print(s)

#" &= "
s = 1
s &= 3
print(s)

#" |= "
s |= 3
print(s)

#" ^= "
s ^= 3
print(s)

#" >>= "
s >>= 3
print(s)

#" <<= "
s <<= 3
print(s)

5
4
1
3
1.0
1.0
0.0
0.0
1
3
0
0
0

Comparison Operators

In [380]:
#Given:
t, u = 1, 2

#Equal "x == y"
print(t == u)

#Not Equal "x != "
print(t != u)

#Greater than "x > y"
print(t > u)

#Less than "x < y"
print(t < u)

#Greater than or Equal to "x >= y"
print(t >= u)

#Less than or Equal to "x <= y"
print(t <= u)

False
True
False
True
False
True

Logical Operators

In [381]:
#Given:
t, u = 1, 2

#And "x < 5 and x < 10"
print(t < 5 and u < 10)

#Or "x < 5 or x < 10"
print(t < 5 or u < 10)

#Not "not(x < 5 and x < 10)"
print(not(t < 5 and u < 10))

True
True
False

Identity Operators

In [382]:
#Given:
t, u = 1, 2

#Is "x is y"
print(t is u)

#Is not "x is not y"
print(u is not t)

False
True

Bitwise Operators

In [383]:
#Given:
v = 2

#AND(&)
v = 2
print(v & 1)

#OR(|)
v = 2
print(v | 1)


#XOR(^)
v = 2
print(v ^ 1)

#NOT(~)
v = 2
print(~v)

#Zero fill left shift(<<)
v = 2
print(v << 1)

#Signed right shift(>>)
v = 2
print(v >> 1)

0
3
3
-3
4
1